<!DOCTYPE html>
<html>
    <head>
        <title>Example API</title>
        <style>
            table, th, td {
                border: 1px solid black;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h2>Example API</h2>
        <table>
            <tr>
                <th>Method</th>
                <th>Endpoint</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>GET</td>
                <td>/api</td>
                <td>List all documents</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/api</td>
                <td>Add a new document</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/api/:id</td>
                <td>Update document</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>/api/:id</td>
                <td>Delete document</td>
            </tr>
        </table>
    </body>
</html>